.services_area {
  padding: 10px;
  a {
    width: 100%;
  }
  button {
    background-color: #28b0e6;
    border-color: #28b0e6;
    height: 40px;
    width: 100%;
    font-size: 16px;
    position: relative;
    right: 7px;
    border-radius: 100px 0px 100px 0px;
  }

  img {
    border-radius: 0px 60px 00px 0px;
  }
  h2 {
    color: #28b0e6;
  }
  h3 {
    color: rgb(8, 40, 110);
  }
  h5 {
    color: rgb(160, 160, 160);
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;
  }
  ul {
    color: rgb(161, 157, 157);
    list-style: none;
    padding-bottom: 5px;
  }
  li {
    padding-bottom: 5px;
  }

  ul li:before {
    content: "✓";
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
    border: 2px solid rgb(202, 197, 197);
  }
}

.service_card {
  border-radius: 0px 65px 45px 0px;
  width: 90%;
  box-shadow: -2px 2px 5px 1px rgb(218, 217, 217);
}
