/*
@File: Exolot - Multipurpose Landing Page HTML5 Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - Services Area CSS
** - Member Option Area CSS
** - ImageCarousel Area CSS
** - Review Text Area CSS
** - Book Now Area CSS
** - Footer Area CSS

** - Right Side Modal CSS
** - Go Top CSS

*/
/*================================================
Default CSS
=================================================*/
$family1: unquote("Poppins");
$family2: unquote("Ubuntu");
$font_family1: "Poppins", sans-serif;
$font_family2: "Ubuntu", sans-serif;
$template_color: #71c21b;
$template_hover_color: #8adb34;

@import url("https://fonts.googleapis.com/css?family=#{$family1}:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=#{$family2}:300,300i,400,400i,500,500i,700,700i");

body {
  padding: 0;
  margin: 0;
  font-display: $font_family1;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
h1,
h2,
h3,
h4,
h5,
h6 p {
  font-family: $font_family2;
}
.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
a {
  display: inline-block;
  outline: 0 !important;
  text-decoration: none !important;
  transition: 0.4s;
}
p {
  font: {
    weight: 300;
    size: 15px;
  }
  line-height: 1.8;
  color: #999999;
}
img {
  max-width: 100%;
}
.bg-f9f9f9 {
  background: #f9f9f9;
}

/*btn*/
.btn {
  font: {
    weight: 600;
    size: 15px;
  }
  border: none;
  padding: 10px 33px;
  line-height: 1.5;
  text-transform: capitalize;
  border-radius: 50px;

  &:focus {
    outline: 0;
  }
}
button:focus {
  outline: 0;
}
.btn-primary {
  color: #ffffff;
  background-color: $template_color;
  border-color: $template_color;

  &:hover,
  &:focus {
    background: $template_hover_color;
    color: #ffffff;
    border-color: $template_hover_color;
    box-shadow: unset;
  }
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus,
  .show > &.dropdown-toggle:focus {
    box-shadow: unset;
  }
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  .show > &.dropdown-toggle {
    background: $template_color;
    color: #ffffff;
    border-color: $template_color;
  }
  &.disabled,
  &:disabled {
    color: #ffffff;
    opacity: 1;
    background-color: $template_color;
    border-color: $template_color;
    &:hover,
    &:focus {
      background: $template_hover_color;
      color: #ffffff;
      border-color: $template_hover_color;
      box-shadow: unset;
    }
  }
}

/*owl carousel btn*/
.owl-theme {
  .owl-nav {
    margin-top: 0;

    [class*="owl-"] {
      position: absolute;
      left: 40px;
      top: 45%;
      font-size: 30px !important;
      width: 60px;
      height: 60px;
      text-align: center;
      color: #ffffff !important;
      line-height: 50px !important;
      margin: 0;
      background: rgba(0, 0, 0, 0.5) !important;
      border-radius: 30px !important;
      transition: 0.4s;
    }

    [class*="owl-"]:hover {
      background: $template_color !important;
      color: #ffffff !important;
    }
    .owl-next {
      left: auto;
      right: 40px;
      cursor: pointer;
    }
    .owl-prev {
      transform: rotate(180deg);
      line-height: 50px;
      cursor: pointer;
    }
  }

  .owl-dots {
    line-height: 0.1;
    margin-top: 40px !important;

    .owl-dot {
      span {
        width: 15px !important;
        height: 15px !important;
        margin: 0 5px !important;
        background: #d7d7d7 !important;
        border-radius: 50% !important;
        transition: 0.4s !important;
      }
      &:hover span,
      &.active span {
        background: $template_color !important;
      }
    }
  }
}
/*form control*/
.form-control {
  height: 45px;
  padding: 15px;
  font-size: 15px;
  color: #000000;
  background-color: #eeeeee;
  border: none;
  border-radius: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #eeeeee;
  outline: 0;
  box-shadow: unset;
}
/*section title*/
.section-title {
  text-align: center;
  margin: {
    bottom: 60px;
    top: -8px;
  }
  font-family: $font_family2;

  span {
    color: $template_color;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font: {
      size: 14px;
      weight: 700;
    }
  }
  h2 {
    font: {
      size: 30px;
      weight: 300;
    }
    margin: {
      bottom: 15px;
    }

    b {
      font-weight: 700;
    }
  }
  p {
    font-size: 16px;
    max-width: 535px;
    margin: 0 auto;
  }
}
/*================================================
Navbar Area CSS
=================================================*/
.main-nav {
  background-color: rgb(248, 245, 245);
  .navbar-nav .nav-item .nav-link {
    color: rgb(148, 147, 147) !important;
    text-transform: none;
  }
  .btn-primary {
    background-color: #28b0e6;
    border-color: #28b0e6;
    height: 30px;
    width: 150px;
    font-size: 14px;
    margin-right: 20px;
  }

  .nav-item {
    padding: 0 14px;
  }
}
/*================================================
Services Area CSS
=================================================*/
.services-area {
  padding: 20px;
  .btn-primary {
    background-color: #28b0e6;
    border-color: #28b0e6;
    height: 40px;
    width: 240px;
    font-size: 16px;
  }
  h2 {
    color: #28b0e6;
  }
  h3 {
    color: rgb(8, 40, 110);
  }
}
/*================================================
Member Option Area CSS
=================================================*/
.member-option {
  padding: 50px 0;
  background: #28b0e6;
  color: white;
  padding: 100px;

  p {
    color: white;
  }
  .btn-primary {
    background-color: rgb(8, 40, 110);
    border-color: rgb(8, 40, 110);
    height: 35px;
    width: 150px;
    font-size: 13px;
  }
}
/*================================================
Review Text Area CSS
=================================================*/
.review-text {
  color: rgb(148, 147, 147);
  padding: 50px 0;
}

/*================================================
ImageCarousel Area CSS
=================================================*/
ImageCarousel

/*================================================
Book Now Area CSS
=================================================*/
.book-now {
  color: rgb(8, 40, 110);

  .btn-primary {
    background-color: rgb(8, 40, 110);
    border-color: rgb(8, 40, 110);
    height: 35px;
    width: 140px;
  }
}

/*================================================
Footer Area CSS
=================================================*/
.footer-area {
  padding: 40px 0;
  background: #28b0e6;
  p {
    font-size: 14px;
    margin-bottom: 0;
    color: #d5d5d5;
  }
  h4 {
    color: white;
    font-size: 22px;
  }
  h6 {
    color: white;
    font-size: 14px;
  }
  ul {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    padding-left: 17px;
    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      background: #ffffff;
      width: 2px;
      height: 12px;
    }
    &:first-child::before {
      display: none;
    }
    a {
      color: #d5d5d5;
      &:hover {
        color: $template_color;
      }
    }
  }
  .btn-primary {
    background-color: rgb(8, 40, 110);
    border-color: rgb(8, 40, 110);
    height: 30px;
    width: 80px;
  }
  .btn-secondary {
    background-color: rgb(8, 40, 110);
    border-color: rgb(8, 40, 110);
    height: 35px;
    width: 120px;
  }
  input {
    background: transparent;
    border: 0;
    border: 1px solid white;
    color: white;
    font-size: 15px;
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white !important;
    opacity: 1;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white !important;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white !important;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white !important;
    opacity: 1;
  }
}
.copyright {
  background-color: rgb(37, 152, 219);
  color: white;
  padding-top: 10px;

  p {
    color: white;
  }
}

/*================================================
Right Side Modal CSS
=================================================*/
.modal.right {
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 520px;
    height: 100%;
    transform: translate3d(0%, 0, 0);

    .modal-content {
      height: 100%;
      overflow-y: auto;
      border-radius: 0;
      border: none;

      .modal-body {
        padding: 20px;

        p {
          margin-top: 20px;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
        }

        .modal-contact-info {
          margin-top: 30px;
          margin-bottom: 20px;

          li {
            position: relative;
            padding-left: 45px;
            font-size: 18px;
            margin-bottom: 25px;

            b {
              display: block;
            }
            i {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 35px;
              color: $template_color;
            }
          }
        }

        .social-links {
          li {
            display: inline-block;

            a {
              color: #71c21b;
              margin-right: 10px;
              font-size: 18px;
            }
          }
        }

        .logo {
          a {
            color: #283a5e;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 900;

            span {
              color: $template_color;
            }
          }
        }
      }
      .modal-header {
        border-bottom-color: transparent;
        background-color: transparent;
        padding: 20px 30px 0;

        .close {
          color: #000000;
          font-size: 35px;
          outline: 0 !important;
          transition: 0.4s;

          &:not(:disabled):not(.disabled):focus,
          &:not(:disabled):not(.disabled):hover {
            color: $template_color;
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }
  &.fade {
    .modal-dialog {
      right: -420px;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    &.show {
      .modal-dialog {
        right: 0;
      }
    }
  }
}

/*================================================
Got Top CSS
=================================================*/
.ScrollUpButton__Container.ScrollUpButton__Toggled:hover {
  transition: 0.4s !important;
  background-color: $template_color !important;
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}
