.post_excerpt_container {
  width: 837px;
  position: absolute;
  left: 50px;
  top: 200px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  img {
    width:50%;
  }
} 